- if user_signed_in?

- else
  .hero-unit{:style => 'text-align: center;'}
    %h1 Welcome to my Pho'Pinterest!
    %p 
      I built this within 3 weeks of starting
      = link_to 'this', "http://onemonthrails.com"
      course.
    %p 
      = link_to "Sign Up Now", new_user_registration_path, :class => "btn btn-warning btn-large"
