.hero-unit
  %h1 Welcome to One Month Rails
  %p 
    You've found my f'n home page for my
    = link_to 'One Month Rails', "http://onemonthrails.com"
    application.
  %p 
    = link_to "Sign Up Now", "new_user_registration_path", :class => "btn btn-warning btn-large"
