$navbarBackgroundHighlight: white;
$navbarBackground: white;
$btnPrimaryBackground: purple;
@import 'bootstrap';
body{
    padding-top: 60px;
}


@import 'bootstrap-responsive';

.navbar-inner{
    @include box-shadow(none !important);
    border: 0px;
}

.footer{
    margin-top: 50px;
    color: $grayLight;
    a{
        color: $gray;
    }
}

/* Requried for Jquery massonry*/

.box {
  background-color: #fff;
  margin: 5px;
  padding:5px;
  font-size: .8em;
  color:#999;
  line-height: 1.4em;
  float: left;
  -webkit-border-radius: 5px;
  -mox-border-radius:5px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #444;
  width: 214px;

  a {
  color:#999;
  text-align : left;
  }
}

.box img {
  width: 214px;
  display: block;
  -webkit-border-radius: 5px;
  -mox-border-radius:5px;
  border-radius: 5px;
}


.description {
  margin-top: 10px;
  margin-bottom:5px;
}