.box
  %h3 Hey Whats Up?
  %h5 This is a site I made from the one month rails pinterest class on skillshare.  Pretty fun.  If you like it upload a picture.
  %p
    Developed by
    = link_to "Joe Mellin", "http://www.joemellin.com" , :target => "_blank"